{% extends 'base.html' %}

{% block title %}My Logs - FitJacket{% endblock %}

{% block content %}
<div class="container py-4 fade-in">
    <h2 class="mb-4">🎯 My Logged Workouts</h2>

    {% if logs %}
        <div class="row">
            {% for log in logs %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title col-md-9">
                                    <a href="{% url 'workouts:view_workout' log.exercise %}">
                                    <strong>{{ log.exercise }}</strong>
                                    </a>
                                </h5>
                                <p class="col-md-3 ms-auto justify-content-center text-end">{{ log.date }}</p>
                            </div>
                            <p class="card-text small">{{ log.duration }} minutes • {{log.sets}} x {{log.reps}}  •  {{log.weight}} lbs</p>
                            <p>Notes: {{ log.notes }}</p>
                            <a href="{% url 'workouts:edit_workout_log' log.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
                            <a href="{% url 'workouts:delete_workout_log' log.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'workouts:log_workout'%}" class="btn btn-md btn-outline-danger">Log a workout</a>
    {% else %}
        <div class="alert alert-info" role="alert">
            You haven't logged any workouts yet. Let's get started on your fitness journey!
        </div>
        <a href="{% url 'workouts:log_workout' %}" class="btn btn-sm btn-outline-primary">Log a workout</a>
    {% endif %}
</div>
{% endblock %}
